:root {
    --background-color: 255, 239, 188;
    --template-color: 213, 209, 255;
    --additional-color: 255, 173, 173;
}

html {
    cursor: grab;
         user-select: none;
    -moz-user-select: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
    background-color: rgb(var(--background-color));
    margin: 0;
    font-weight: bold;
    color: rgb(var(--template-color));
    text-shadow: 0px 0px 2px rgb(var(--template-color));
}

.decks {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.deck {
    position: relative;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;

    &:active {
        cursor: grabbing;
    }
}

.deck-start {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    color: #ffadad;

    .drag-area {
        position: absolute;
        width: 4rem;
        height: 1.7rem;
        background-color: rgba(var(--additional-color), 0.3);
        border: 1px solid rgba(var(--additional-color), 0.5);
        border-right: none;
        border-left: none;
        mask-image: linear-gradient(to left, white 70%, transparent 100%);

        &.down, &.right, &.up-right, &.down-right {
            mask-image: linear-gradient(to right, white 70%, transparent 100%);
        }

        &.up {
            inset: 0 0 0 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        &.up-right {
            inset: 0 0 0 100%;
            transform: translate(-75%, 20%) rotate(-41deg);
        }

        &.up-left {
            inset: 0 0 0 0;
            transform: translate(-25%, 20%) rotate(41deg);
        }

        &.right {
            inset: 50% 0 0 100%;
            transform: translate(-50%, -50%);
        }

        &.down {
            inset: 100% 0 0 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        &.down-right {
            inset: 100% 0 0 100%;
            transform: translate(-75%, -120%) rotate(41deg);
        }

        &.down-left {
            inset: 100% 0 0 0;
            transform: translate(-25%, -120%) rotate(-41deg);
        }

        &.left {
            inset: 50% 0 0 0;
            transform: translate(-50%, -50%);
        }
    }
}

.deck-front {
    z-index: 999;
    position: relative;
    width: 6.125rem;
    height: 8.125rem;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 2px;
    background-size: contain;

    &::before {
        content: '';
        position: absolute;
        left: -1px;
        bottom: -0.6rem;
        width: calc(6.125rem + 2px);
        height: 0.6rem;
        background-color: white;
        border: 1px solid black;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
    }
}

.cards {
    visibility: hidden;
    position: absolute;
}

.cards-dragger {
    cursor: grabbing;
    z-index: 998;
    position: absolute;
    width: 6rem;
    height: 8rem;
}

.card-container {
    position: absolute;
    perspective: 1000px;

    &:active {
        cursor: grabbing;
    }
}

.card-container-inner {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.8s;

    &.card-flipped {
        transform: unset;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    height: 8rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.1rem;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
    transition-property: rotate;
    transition-duration: 0.3s;

    &.black {
        color: black;
    }

    &.red {
        color: red;
    }

    &.back {
        position: absolute;
        inset: 0;
        transform: rotateY(180deg);
        background-size: cover;

        &.black {
            background-image: url(/assets/card-black.webp);
        }

        &.red {
            background-image: url(/assets/card-red.webp);
        }
    }

    &.active {
        rotate: 90deg;
    }
}

.card-label {
    display: flex;
    flex-direction: column;
    letter-spacing: -2px;

    span {
        min-width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &.left {
        align-self: flex-start;
        
        span {
            align-self: flex-start;
        }
    }
    
    &.right {
        flex-direction: column-reverse;
        align-self: flex-end;

        span {
            align-self: flex-end;
            padding-right: 0.1rem;
        }
    }
}

.card-center {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    font-size: 1.5rem;

    span {
        position: absolute;
    }
}

/// m = middle, t = top, b = bottom, l = left, r = right
.middle { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.top    { top: 25%; left: 50%; transform: translate((-50%, -50%)); }
.bottom { top: 75%; left: 50%; transform: translate((-50%, -50%)); }

.tl { top: 25%; left: 30%; transform: translate((-50%, -50%)); }
.tr { top: 25%; left: 70%; transform: translate((-50%, -50%)); }
.bl { top: 75%; left: 30%; transform: translate((-50%, -50%)); }
.br { top: 75%; left: 70%; transform: translate((-50%, -50%)); }
.ml { top: 50%; left: 30%; transform: translate(-50%, -50%); }
.mr { top: 50%; left: 70%; transform: translate(-50%, -50%); }
.tm { top: 38%; left: 50%; transform: translate((-50%, -50%)); }

.mtl { top: 42%; left: 30%; transform: translate(-50%, -50%); }
.mtr { top: 42%; left: 70%; transform: translate(-50%, -50%); }
.mbl { top: 58%; left: 30%; transform: translate(-50%, -50%); }
.mbr { top: 58%; left: 70%; transform: translate(-50%, -50%); }
.mtm { top: 35%; left: 50%; transform: translate((-50%, -50%)); }
.mbm { top: 68%; left: 50%; transform: translate((-50%, -50%)); }

.middle-big {
    @extend .middle;

    font-size: 3rem;
}

.slot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 8rem;
    margin: 1rem;
    border: 1px solid rgb(var(--template-color));
    border-radius: 5px;
    padding: 1px;
    background-color: rgba(var(--template-color), 0.25);

    &:active {
        cursor: grabbing;
    }

    &.holder {
        top: -8rem;
        left: 1rem;
        rotate: 90deg;
        writing-mode: sideways-lr;
    }
}

.guideline-toggle {
    position: absolute;
    top: 9.4rem;
    left: 12.8rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;

    &:active {
        cursor: grabbing;
    }

    .bulb {
        position: relative;
        width: 2rem;
        height: 2rem;
        background: #555;
        border: 1px solid black;
        border-radius: 50% 50% 46% 46%;
        box-shadow:
            inset -3px -4px 6px rgba(0, 0, 0, 0.3),
            inset 3px 3px 5px rgba(255, 255, 255, 0.15);
        transition-property: background-color, box-shadow;
        transition-duration: 0.2s;
    }

    .base {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -3px;

        .stripe {
            width: 1.35rem;
            height: 0.3rem;
            background: #666;
            border: 1px solid black;
            border-radius: 3px;
            box-shadow:
                inset 0 1px rgba(255, 255, 255, 0.15),
                inset 0 -1px rgba(0, 0, 0, 0.25);
        }

        .tip {
            width: 1rem;
            height: 0.3rem;
            background: #444;
            border: 1px solid black;
            border-top: none;
            border-radius: 0 0 6px 6px;
        }
    }

    &.on {
        .bulb {
            background: #fff59d;
            box-shadow:
                0 0 6px #fff59d,
                0 0 14px #ffe066,
                0 0 22px #ffd633,
                inset -3px -4px 6px rgba(0, 0, 0, 0.1),
                inset 3px 3px 5px rgba(255, 255, 255, 0.7);
        }
    }
}

.chip-storage {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 9.4rem;
    left: 0;
    width: 11rem;
    height: 7rem;
    margin: 1rem;
    background-color: rgb(228, 163, 103);
    background:
        /// Wood grain
        repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.02) 3px,
            rgba(0  , 0  , 0  , 0.04) 6px,
            rgba(255, 255, 255, 0.03) 10px,
            rgba(0  , 0  , 0  , 0.02) 14px,
            rgba(255, 255, 255, 0.04) 18px
        ),
        /// Wood
        linear-gradient(
            180deg,
            rgb(247, 190, 132),
            rgb(228, 163, 103)
        );
    border-top:    10px solid rgb(149, 107, 70);
    border-right:  10px solid rgb(140, 102, 68);
    border-bottom: 10px solid rgb(233, 177, 125);
    border-left:   10px solid rgb(244, 191, 139);
    outline: 1px solid black;
    box-shadow: inset 0px 0px 4px black;

    &:active {
        cursor: grabbing;
    }
}

/// Chip design by Xingchen Hong [https://codepen.io/Zodiase/pen/adjeVW]
/// Modified by me
.chip {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 3px dashed white;
    border-radius: 50%;

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        margin: -4px;
        border-radius: 50%;
    }

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        margin: 1px;
        border: 1px dashed white;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    //#region Colors
    &.red {
        &::before {
            background-color: red;
        }
    }

    &.blue {
        &::before {
            background-color: blue;
        }
    }

    &.green {
        &::before {
            background-color: green;
        }
    }

    &.black {
        &::before {
            background-color: black;
        }
    }

    &.white {
        border: 3px dashed blue;

        &::before {
            background-color: white;
        }

        &::after {
            border: 1px dashed blue;
            background-color: unset;
        }
    }
    //#endregion
}

.game {
    position: absolute;
}

.score {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 8rem;
    margin: calc(1rem + 3px);
    padding: 1px;
}

.black-jack-21 {
    .slot {
        &:nth-child(3), &:nth-child(4) {
            background-color: rgba(var(--additional-color), 0.25);
        }

        &:nth-child(2) { /// Begin
            transform: translateX(14rem);
        }

        &:nth-child(4) { /// Top right
            transform: translateX(7rem);
        }
        
        &:nth-child(5) { /// Bottom left
            transform: translateY(9rem);
        }

        &:nth-child(6) { /// Bottom right
            transform: translate(7rem, 9rem);
        }
    }

    .score {
        transform: translate(14rem, 9rem);
    }
}

@keyframes deckConfirmedMotion {
    from { box-shadow: none; }
    to { box-shadow: 0px 0px 40px #ff0000; }
}